{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="help-button-wrapper">
    <ul class="help-list">
        <a href="" id="start-tour"></a>
        <li>
        <!-- <i class="fa fa-whatsapp" id="start-tour" style="font-size:4rem; cursor: pointer; color: green;"><a class="" href="tel:+917689004008"></a></i> -->
        <!-- <a class="" href="tel:+917689004008"></a><i class="fa fa-whatsapp" id="start-tour" style="font-size:4rem; cursor: pointer; color: green;"></i> -->
        <a href="https://wa.me/+917689004008/?text=Hello Besitie ">
            <i class="fa fa-whatsapp" id="start-tour" style="font-size:4rem; cursor: pointer; color: green;"></i>
        </a>
        <i></i>
    </li>
        <!-- <i class="fa fa-phone" id="start-tour" style="font-size:50px cursor: pointer;"></i> -->
        <!-- <li><span id="start-tour">Take a tour</span></li>
            <li><span id="start-tour">Take a tour</span></li>
            <li><span id="start-tour">Take a tour</span></li> -->
            <li>
                <!-- <small class="text-danger">Never show again</small> -->
                <i></i>
                <a href="tel:+917689004008">
                    <i class="fa fa-phone" id="start-tour" style="font-size:3rem; cursor: pointer; color: skyblue;"></i>
                </a>
        </li>
    </ul>
    <button class="help-button">
        <span>
            <i class="fa-solid fa-headset" aria-hidden="true"></i>
        </span>
    </button>
</div>


<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');

    .help-button-wrapper {
        position: fixed;
        bottom: 2em;
        right: 2em;
        text-align: right;
        z-index: 99;
        /* position: absolute; */
    }

    .help-button {
        height: 5em;
        width: 5em;
        font-size: 14px;
        border-radius: 50%;
        border: 0 none;
        background: #ffb606;
        color: black;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .help-button:hover,
    .help-button:focus,
    .help-button:active {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
        outline: 0;
    }

    .help-button span {
        display: block;
        font-size: 2em;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform 100ms ease;
        transition: -webkit-transform 100ms ease;
        transition: transform 100ms ease;
        transition: transform 100ms ease, -webkit-transform 100ms ease;
    }

    .help-button:hover span,
    .expanded .help-button span,
    .expanded .help-button span {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }

    .expanded .help-button {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        color: rgba(255, 255, 255, 0.5);
        background: #9e9e9e;
    }

    .help-list {
        list-style: none;
        padding: 0;
        margin: 0;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        -webkit-transform: translate(0, 90px) scale(0.5);
        transform: translate(0, 90px) scale(0.5);
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        opacity: 0;
        width: 5rem;
        height: 12rem;
    }

    .expanded .help-list {
        -webkit-transform: translate(0px, 20px) scale(1);
        transform: translate(0px, 20px) scale(1);
        opacity: 1;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        margin-bottom: 1.5em;
        margin-right: 1.5em;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px 10px 0 10px;
    }

    .help-list li {
        margin-bottom: 0.7em;
        color: #464646;
    }

    .help-list li:last-child {
        margin-bottom: 0;
    }

    .help-list li:hover {
        cursor: pointer;
        color: black;
    }

    /* bootstrap */
    .text-danger {
        color: #a94442;
    }
</style>

<script>
    $(".help-button").on("click", function () {
        $(".help-button-wrapper").toggleClass("expanded");
    });

    $(document).on("click", function (event) {
        if (!$(event.target).closest(".help-button").length) {
            $(".help-button-wrapper").removeClass("expanded");
        }
    });

</script>

<!--================Header Area =================-->
<header class="main_header_area">
    <div class="header_top">
        <div class="container">
        </div>
    </div>
    <div class="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="header_top">
                    <div class="container">
                        <div class="header_top_inner">
                            <div class="pull-left">
                                <a href="" style="color:black;"><i class="fa fa-phone"></i>+91 7689 004 008</a>
                                <a href="" style="color:black;"><i class="fa fa-envelope-o"></i>info@mibestie.com</a>
                            </div>
                            <div class="pull-right">
                                <ul class="header_social">
                                    <li ><a href=""><i style="color:black;" class="fa fa-facebook"></i></a></li>
                                    <li ><a href=""><i style="color:black;" class="fa fa-twitter"></i></a></li>
                                    <li ><a href=""><i style="color:black;" class="fa fa-google-plus"></i></a></li>
                                    <li ><a href=""><i style="color:black;" class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="position: fixed;">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main:home' %}">
                        <img src="{% static 'img/bestie.svg' %}" alt="">
                        <img src="{% static 'img/bestie.svg' %}" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown submenu active">
                            <!-- <ul class="dropdown-menu">
                                <li><a href="index.html">Home Page 1</a></li>
                                <li><a href="index-2.html">Home Page 2</a></li>
                                <li><a href="index-3.html">Home Page 3</a></li>
                                <li><a href="index-4.html">Home Page 4</a></li>
                            </ul> -->
                        </li>
                        {% comment %} <li><a href="">Resorts</a></li> {% endcomment %}
                        <!-- <li class="submenu dropdown"> -->
                            <!-- <a href="room.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resorts <i class="fa fa-chevron-down" aria-hidden="true"></i></a> -->
                            <!-- <ul class="dropdown-menu">
                                <li><a href="room.html">Rooms Grid Style</a></li>
                                <li><a href="room-list.html">Rooms List Style</a></li>
                                <li><a href="room-details.html">Single Room</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <!-- <li class="submenu dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="aminities.html">Aminities</a></li>
                                <li><a href="search.html">Search</a></li>
                                <li class="dropdown submenu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="event.html">-  Event List</a></li>
                                        <li><a href="event-two-column.html">-  Event Grid</a></li>
                                        <li><a href="event-details.html">-  Event Single</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown submenu">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="gallery-two-column.html">-  Gallery 2 Column</a></li>
                                        <li><a href="gallery-three-column.html">-  Gallery 3 Column</a></li>
                                        <li><a href="cobage-gallery.html">-  Gallery Cobage</a></li>
                                    </ul>
                                </li>
                                <li><a href="restaurant.html">Our Reataurant</a></li>
                                <li><a href="spa.html">Spa & Relax</a></li>
                                <li><a href="activities.html">Activities</a></li>
                                <li><a href="comming-soon.html">Coming Soon page</a></li>
                                <li><a href="404.html">404 Error</a></li>
                            </ul>
                        </li> -->
                        <!-- <li class="submenu dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-left-sidebar.html">Blog with leftside bar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog with rightside bar</a></li>
                                <li><a href="blog.html">Blog without side bar</a></li>
                                <li><a href="blog-details.html">Blog details</a></li>
                            </ul>
                        </li> -->
                        <li><a href="{% url 'main:home' %}">Home</a></li>
                        <li><a href="{% url 'main:about-us' %}">About Us</a></li>
                        <li><a href="{% url 'main:events' %}">Events</a></li>
                        <li><a href="{% url 'main:resorts' %}">Resorts</a></li>
                        <li><a href="{% url 'main:activity' %}">Activities</a></li>
                        <li><a href="{% url 'main:gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'main:contact-us' %}">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="search_dropdown">
                            <a class="popup-with-zoom-anim" href="test-search"><i class="icon icon-Search"></i></a>
                        </li> -->
                        <li class="book_btn">
                            <a class="book_now_btn" href="tel:+917689004008">Book now</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
<!--================Header Area =================-->
    
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_content">
                    <h3>Activities at our Resorts</h3>
                    <ul>
                        <li class="active"><a href="{% url "main:home" %}">Home</a></li>
                        <li><a href="">Activities</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->

<!--================Search Room Area =================-->
<section class="room_details_area">
    <div class="container">
        <div class="row room_details_inner">
            <div class="col-md-8">
                <div class="room_details_content">
                    <div class="room_d_main_text">
                        <div class="room_details_img owl-carousel">
                            <div class="item">
                                <img src="{{ get_details.resort_images.url }}" alt="">
                            </div>
                            <div class="item">
                                <img src="{% static 'img/room/room-details.jpg' %}" alt="">
                            </div>
                            <div class="item">
                                <img src="img/room/room-details.jpg" alt="">
                            </div>
                        </div>
                        <a href=""><h4>{{ get_details.resort_name }}</h4></a>
                        <h5>₹{{ get_details.resort_amount }} <span>/ Day</span></h5>
                        <p>{{ get_details.resort_description }}</p>
                    </div>
                    <div class="room_service_list">
                        <h3 class="room_d_title">Room services</h3>
                        <div class="row room_service_list_inner">
                            <div class="col-sm-5 col-md-offset-right-1">
                                <div class="resot_list">
                                    <ul>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Breakfast Included</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Free wifi</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Double Bed</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>120 sq mt.</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>8 persons</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Free internet</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-offset-right-1">
                                <div class="resot_list">
                                    <ul>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>private balcony</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>good room service</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>flat screen tv</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>fully AC</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>mountain view</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>free pick & drop facilies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room_details_clients">
                        <h3 class="room_d_title">customer Reviews</h3>
                        <div class="clients_slider owl-carousel">
                            <div class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/clients/client-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                        <a href=""><h4>- Michale John</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/clients/client-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                        <a href=""><h4>- Michale John</h4></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="img/clients/client-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
                                        <a href=""><h4>- Michale John</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="room_details_comment">
                        <h4>Add review</h4>
                        <form class="contact_us_form row" action="https://designarc.biz/demos/hilltown/theme/contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name*">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email*">
                            </div>
                            <div class="form-group col-md-12">
                                <h5>Your Rating</h5>
                                <ul>
                                    <li><a href="room-details.html#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    <li><a href="room-details.html#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    <li><a href="room-details.html#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    <li><a href="room-details.html#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    <li><a href="room-details.html#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="review"></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">submit now</button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="search_right_sidebar">
                    <div class="book_room_area">
                        <div class="book_room_box">
                            <div class="book_table_item">
                                <h3>ROOM AMINITIES</h3>
                            </div>
                            <div class="book_table_item">
                                <div class="resot_list">
                                    <ul>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Coffe Makker</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Free wifi</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Double Bed</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Coffe Makker</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Coffe Makker</a></li>
                                        <li><a href=""><i class="fa fa-caret-right" aria-hidden="true"></i>Bathroom Items</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="book_now_button">
                        <a class="book_now_btn_black" href="tel:+917689004008">Book now</a>
                    </div>
                    <!-- <div class="your_book_box">
                        <h4>Your book</h4>
                        <h5>your cart is empty</h5>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Search Room Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
    <div class="footer_widget_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget about_widget">
                        <a href="{% url 'main:home' %}"><img src="{% static 'img/logo1.png' %}" alt=""
                                style="width: 170px;"></a>
                        <div class="ab_wd_list">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="media-body">
                                    <h4>Gudalai, Kairali Nagar, Kalpetta, Kerala 673121</h4>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="media-body">
                                    <h4>+91 7689 004 008</h4>
                                </div>
                            </div>
                        </div>
                        <div class="book_now_area">
                            <a class="book_now_btn" href="tel:+917689004008">Book now</a>
                        </div>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget link_widget">
                        <div class="f_title">
                            <h3>Extra Links</h3>
                        </div>
                        <ul>
                            <li><a href="">- About Us</a></li>
                            <li><a href="">- Faq’s</a></li>
                            <li><a href="">- Testimonials</a></li>
                            <li><a href="">- Reservation Now</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget link_widget">
                        <div class="f_title">
                            <h3>our services</h3>
                        </div>
                        <ul>
                            
                            <li><a href="">- Rooms</a></li>
                            <li><a href="">- Amenities</a></li>
                            <li><a href="">- Hill Tours</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-3 col-xs-6">
                    <aside class="f_widget instagram_widget">
                        <div class="f_title">
                            <h3>Bestie Tours</h3>
                        </div>
                        <ul class="instagram_list" id="instafeed"></ul>
                        <div style="overflow:hidden;resize:none;max-width:100%;width:300px;height:200px;">
                            <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.081109042256!2d76.0888628!3d11.617567600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba60d3210ae4983%3A0xbc05074dde859791!2sBESTIE!5e0!3m2!1sen!2sin!4v1696436183273!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div><a class="googlemaps-made" rel="nofollow" href="https://www.bootstrapskins.com/themes"
                                id="grab-maps-authorization">premium bootstrap themes</a>
                            <style>
                                #my-map-canvas img.text-marker {
                                    max-width: none !important;
                                    background: none !important;
                                }

                                img {
                                    max-width: none
                                }
                            </style>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright_area">
        <div class="container">
            <div class="pull-left">
                <h4>Copyright © Bestie Tours
                    <script>document.write(new Date().getFullYear());</script>. All rights reserved.
                </h4>
            </div>
            <div class="pull-right">
                <h4>Developed by: <a href="https://batheco.com" target="_blank">Batheco</a></h4>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->

{% endblock content %}