{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!--================Banner Area =================-->
 <section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Resorts</h3>
            <ul>
                <li class="active"><a href="{% url "main:home" %}">Home</a></li>
                <li><a href="">Resorts</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
 <!--================Header Area =================-->
 <header class="main_header_area">
    <div class="header_top">
        <div class="container">
            <div class="header_top_inner">
                <div class="pull-left">
                    <a href=""><i class="fa fa-phone"></i>+91 97457 50649</a>
                    <a href=""><i class="fa fa-envelope-o"></i>info@mibestie.com</a>
                </div>
                <div class="pull-right">
                    <ul class="header_social">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main:home' %}">
                        <img src="img/logo1.png" alt="">
                        <img src="img/logo1.png" alt="">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main:home' %}">Home</a></li>
                        <li><a href="{% url 'main:about-us' %}">About Us</a></li>
                        <li><a href="{% url 'main:events' %}">Events</a></li>
                        <li><a href="{% url 'main:resorts' %}">Resorts</a></li>
                        <li><a href="{% url 'main:activity' %}">Activities</a></li>
                        <li><a href="{% url 'main:gallery' %}">Gallery</a></li>
                        <li><a href="{% url 'main:contact-us' %}">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="search_dropdown">
                            <a class="popup-with-zoom-anim" href="test-search"><i class="icon icon-Search"></i></a>
                        </li> -->
                        <li class="book_btn">
                            <a class="book_now_btn" href="tel:+919745750649">Book now</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>
<!--================Header Area =================-->
<!--================Explor Room Area =================-->
<section class="explor_room_area explore_room_list">
    <div class="container">
        <div class="explor_title row m0">
            <div class="left_ex_title">
                <h2>Explor Our <span>Resorts</span></h2>
                <p>choose a resort according to Your budget</p>
            </div>
        </div>
        <div class="row explor_room_item_inner">

            {% for get_resorts in get_resorts %}
            <div class="col-md-4 col-sm-6">
                <div class="explor_item">
                    <a href="{% url 'main:resort-detail' get_resorts.resort_slug %}" class="room_image" style=" width: 370px;
                    height: 295px;
                    overflow: hidden;">
                        <img src="{{ get_resorts.resort_images.url }}" alt="" style=" width: 100%;
                        height: 100%;
                        object-fit: cover;">
                    </a>
                    <div class="explor_text">
                        <a href="{% url 'main:resort-detail' get_resorts.resort_slug %}"><h4>{{ get_resorts.resort_name }}</h4></a>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href="">{{ get_resorts.resort_description|truncatewords:6 }}</a></li>
                        </ul>
                        <div class="explor_footer">
                            <div class="pull-left">
                                <h3>₹{{ get_resorts.resort_amount }} <span>/ Night</span></h3>
                            </div>
                            <div class="pull-right">
                                <a class="book_now_btn" href="{% url 'main:resort-detail' get_resorts.resort_slug %}">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            {% endfor %}


        </div>
    </div>
<!--================End Explor Room Area =================-->
{% endblock content %}

